body, header, section, h1, h2, h3, h4, h5, h6, footer, ul, li, p, span, img, div{
    margin: 0;
    padding: 0;
}

a:visited, a:active{
    text-decoration: none;
}

:root {
    --grid-columns:12;
}

ul{
    list-style-type: none;
}

li{
    text-decoration: none;
}
body{
    background-color: #121212;
    font-size: 16px;
}

.startLine{
    width: 100%;
    height: 2px;
    background-color: #4d1890;
}

.flexibleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
}

.simple_header{
    overflow:hidden;
    position: relative;
    height: auto;
    /* background-color: rgb(48, 48, 48); */
    background-color: #508f50;
    transition: all 0.3s;
}
.header_center_contents{
    
}
.header_padding_area{
    padding: 20px 20px;
}
.header_top_area{
    display: flex;
    /* height:120px; */
    justify-content: space-between;
}

.fun_main_logo_text{
    display: none;
}
.logo_touchable_container{
    cursor: pointer;
}
.other_content_link_container{
    display: flex;
    height: 37px;
    cursor:pointer;
}

.header_bottom_area{
    display: flex;
    padding: 120px 0;
    justify-content: center;
}
.header_headline{
    font-family: "NotoSans-Regular", serif;
    /* font-weight: 900; */
    font-size: 50px;
    color: rgba(255,255,255,1);    
}
.no-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.header_highlight_text{
    font-size: 70px;
    font-family: "GlitchGoblin", serif;
    /* font-family: 'Rubik Glitch', cursive; */
    /* font-family: "NotoSans-black", "serif"; */
    /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
}

.highlight_text_white{
    
    /* color: rgba(0,0,0,1); */
}
.highlight_text_blue{
    color: rgba(92, 80, 255, 0.7)
}
.focus_test{
    background-color: #508f50;
}
.header_bg{
    position: absolute;
    top: 0;
    left:0;
    background-color: gray;
    z-index: -1;
}


.simple_section{
    /* background-color: yellow; */
}

/* .simple_section:nth-child(odd){
    background-color: #f6f6f6;
} */

.simple_section_1{
    display: flex;
    width: 100%;
    height: auto;
    padding: 120px 0;
    justify-content: center;
}
.simple_image_container{}
/* temp */
.simple_temp_image{
    /* width: 680px; */
    width: 100%;
    /* height: 441px; */
    /* background-color: skyblue; */
    object-fit: contain;
}

.other_space_title{
    font-size: 48px;
}
.other_space_desc{
    padding-top: 24px;
    font-size: 24px;
    /* word-wrap: break-word; */
    /* word-break:break-all; */
}




.simple_section_2{
    height: auto;
    padding: 120px 50px;
    flex-direction: column;
}

/* 프로필 구역 */
.profile_container{
    width: 300px;
    text-align: center;
}

.profile_flip_container{
    /* position: relative; */
    width: 100%;
    height: 300px;
    /* perspective: 300px; */
    cursor: pointer;
}
.flip_active{
    transform: rotateY(180deg);
    /* animation-fill-mode: forwards;
    
    animation-name: flipProfile;
    animation-duration: .3s; */
}
/* .profile_flip_container:hover .flip_card{
    
    
    animation-name: flipProfile;
    animation-duration: .3s;
} */

.flip_card{
    width:100%;
    height:100%;
    position: relative;
    transition: all .4s;
    transform-style: preserve-3d;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}
.profile_photo_container{
    background-color: #3d3a71;
}
.profile_pixel_face{
    width: 100%;
    object-fit: contain;
}
.profile_detail_container{
    display: flex;
    background-color: #508f50;
    color: #fff;
    font-family: "NotoSans-Regular", "serif";
    flex-direction: column;
}
.profile_detail_container p{
    font-size: 2em;
}

p.small_size_text{
    font-size: 1em;
}

.profile_text_area{
    padding-top: 10px;
}

.profile_name{
    color: #fff;
}

.circleBackground{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

@keyframes flipProfile {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
        transform: rotateY(180deg);
    }
}

/* 프로필 구역 끝 */

/* 컨텐츠 구역 */
.simple_contents_container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    /* background-color: green; */
}

.simple_contents_container ul{
    padding-top: 50px;
}
.simple_contents{
    display: flex;
    width: 300px;
    height: auto;
    /* height: 100px; */
    /* grid-column: span 2; */
    /* grid-row: span 3; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    /* border: 1px solid #000; */
    box-sizing: border-box;
    cursor: pointer;
}
.capture_container{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
}
.capture_container:after{
    opacity: 0;
    transition: all 1s;
}
.simple_contents:hover .capture_container:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    content: "";
    opacity: 1;
}

.hisotry_capture{
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}

.desc_container{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #3d3a71;
    font-family: "NotoSans-Bold", "serif";
    color: #fff;
}

/* 컨텐츠 구역 끝 */


.simple_footer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: auto;
    padding: 25px 50px;
    /* background-color: #b1b1b1; */
    background-color: #508f50;
}

.simple_footer_list{
    padding: 20px 0;
}
.copyright{
    color: #fff;
}

@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 768px) {
    .other_space_title{
        padding-top: 20px;
        font-size: 22px;
    }
    .other_space_desc{
        padding-top: 10px;
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    
}