body, html{ width: 100%; height :100%; }
body.stop{ overflow:hidden; } /* 사이드 메뉴 open 시 이동 제한*/
body::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #f5f5f5;}
body::-webkit-scrollbar{width: 8px; background-color:#f5f5d5;}
body::-webkit-scrollbar-thumb{background-color: #AD0200;}
body::-webkit-scrollbar-thumb:hover{background-color: rgb(143, 2, 0);}
body::-webkit-scrollbar-track{background-color: #838b8b;}

#wrap{width:100%; height: 100%;}

header{
    position: relative;
    width: 100%; height: 100%;
    user-select:none; /* 드래그 비활성화*/
}

header>.container{
    position: relative;
    width:100%; height: 100%;
    background-image: url(../images/aire_main_bg.jpg);
    background-position: 50% 50%; background-size: cover;
    background-repeat: no-repeat;   
}

header>.container:after{
    position: absolute;
    top:0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    content:'';
}

header>.container>.mnuWrap{
    display: inline-block;
    position: absolute;
    top: 0; left: 50%;
    width: 1100px; height:70px;
    margin-left:-550px;
    transition:all 0.5s;
    z-index:10;
}

header>.container>.mnuWrap.n-fixed{
    position: fixed; top: 0;
    margin-top: 0; color: #000;
}


header>.container>.mnuWrap.n-fixed>h1{position: absolute; top:0; background-image: url(../images/logo_blue_retina.png);}
header>.container>.mnuWrap.n-fixed>.navMnu>ul>li>a{color: #000;}
header>.container>.mnuWrap>h1{
    width: 120px; height: 50px;
    margin-top: 10px; margin-left: 20px;
    text-align: center; text-indent: -9999px;
    background-image: url(../images/logo_white_retina.png);
    background-position: 50% 50%; background-size: contain;
    background-repeat: no-repeat;
    transition:all 0.5s;
    z-index:10;
}
/* header>.container>.mnuWrap>h1:hover{ background-image: url(../images/logo_blue_retina.png); } */
header>.container>.mnuWrap>h1>a{
    display: block; height: 50px;
    line-height: 50px; 
}
header>.container>.mnuWrap>.navMnu{
    position: absolute;
    top:20px; right:0px; margin-top: 0;
}
header>.container>.mnuWrap>.navMnu:before{
    position: fixed;
    top:-70px; left:0;
    width:100%; height:70px;
    background-color: #fff;
    box-shadow:0px 1px 10px 1px #7a7a7a;
    transition:all 0.5s;
    content:'';
}
header>.container>.mnuWrap.n-fixed>.navMnu:before{ top:0; }

header>.container>.mnuWrap>.navMnu>ul{}
header>.container>.mnuWrap>.navMnu>ul>li{
    display: inline-block;
    position: relative;
    margin-right: 30px;
}

header>.container>.mnuWrap>.navMnu>ul>li:before{
    position: absolute;
    bottom:-5px; left:50%;
    width:0;
    border-bottom: 2px solid #00aaad;
    transition:all 0.2s linear;
    content:'';
}
header>.container>.mnuWrap>.navMnu>ul>li:after{
    position: absolute;
    bottom:-5px; right:50%;
    width:0;
    border-bottom: 2px solid #00aaad;
    transition:all 0.2s linear;
    content:'';
}
header>.container>.mnuWrap>.navMnu>ul>li.on:before,
header>.container>.mnuWrap>.navMnu>ul>li.on:after{
    width:50%;
}
header>.container>.mnuWrap>.navMnu>ul>li>a{ display: block; color: #fff; }
header>.container>.mnuWrap>.navMnu>ul>li:hover>a{ color: #28b1d8; transition:all 0.5s;}

header>.container>.stcBox{
    position: absolute;
    top:50%; left:50%;
    width:500px; height:500px;
    margin-top: -250px; margin-left: -250px;
    color: #fff; text-align: center;
    z-index:1; /* container:after bgc */
}

header>.container>.stcBox>.title{
    position: absolute;
    top:42%;
    left:50%;
    width:100%; height:40px;
    margin-top: -20px; margin-left: -250px;
    line-height: 40px;
    font-size: 50px; font-weight: 800;

}
header>.container>.stcBox>.sentence{
    position: absolute;
    top:65%;
    left:50%;
    width:100%; height:80px;
    margin-top: -40px; margin-left: -250px;
    font-size: 17px;
}
header>.container>.stcBox>.link{
    position: absolute;
    top:75%; left:50%;
    width:100%; 
    margin-left: -250px; 
}
header>.container>.stcBox>.link>a{
    display: block;
    position: absolute;
    top:0%; left:50%;
    width:150px;
    margin-left: -75px;
    padding: 10px 0;
    color: #fff; font-size: 16px;
    background-image: linear-gradient(to right, #00aaad 0%, #14d7da 49%, #00aaad 100%);
    background-size:200% auto;
    border-radius:25px;
    transition:all 0.5s;
}
header>.container>.stcBox>.link>a:hover{ background-position:100% 50%; }

/* Scroll down */
header>.container>.scroll{
    position: absolute;
    bottom:10px; left:50%;
    width:200px; height:50px;
    margin-left: -100px;
    color: #fff; text-align: center;
    transition:all 0.5s;
    cursor:pointer;
    z-index:1; /* "container:after.bgc" */
}
header>.container>.scroll:hover{ color: #00aaad;}
header>.container>.scroll:after{
    position: absolute;
    top:60%; left:50%;
    width:0; height:0;
    margin-left: -10px;
    text-align: center;
    content:'';
    border-top: 6px solid #e6e6e6;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    animation:triMove 1.1s ease-in-out infinite;
}

/* 화살표 애니메이션 */
@keyframes triMove{
    0%{ top:60%; }
    100% { top:90%; opacity: 0.1;}
}

/* 서브메뉴 열기 ( 햄버거 ) */
header>.mnuOpen{
    position: absolute;
    top:0; right:40px;
    width:30px; height: 70px;
    transition:all 0.5s;
    z-index:11; /* "container:after.bgc" + "navMnu.width" */
}
header>.mnuOpen.n-fixed{
    position: fixed;
    top:0;
}
header>.mnuOpen.n-fixed>.mnuBar>.bar { background-color: #000; }
header>.mnuOpen>.mnuBar{
    position: absolute;
    top:50%; left:0;
    width:30px; height:17px;
    margin-top: -8.5px;
    cursor:pointer;
}

header>.mnuOpen>.mnuBar>.bar{
    position: absolute;
    right:0;
    width:100%; height:3px;
    margin-bottom: 4px;
    text-indent: -9999px;
    background-color: #fff;
    transition:all 0.5s;
}
header>.mnuOpen>.mnuBar>.bar:nth-child(2){
    top:50%;
    width:70%;
    margin-top: -1.5px;
}
header>.mnuOpen>.mnuBar>.bar:last-child{
    top:100%;
    width:50%;
    margin-top: -3px; margin-bottom: 0;
}
header>.mnuOpen>.mnuBar:hover>.bar{ width:100%; }

/* 서브메뉴 배경그림자 */
header>.shadow{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    width:100%; height:100%;
    background-color: rgba(0,0,0,0.6);
    cursor:pointer;
    z-index:100; /* "container:after.bgc" + "navMnu.width" + "mnuOpen" */
}

/* 서브메뉴 레이아웃 */
header>.sub-wdMnu{
    overflow-y:auto;
    position:fixed;
    top:0; right:-40%;
    width:40%; height:100%;
    background-image: linear-gradient(to right, #00aaad 0%, #25c4c7 49%);
    transition:all 0.5s;
    z-index:100; /* "container:after.bgc" + "navMnu.width" + "mnuOpen" */
}
header>.sub-wdMnu.open{ right:0; }
header>.sub-wdMnu::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f5f5f5;
}
header>.sub-wdMnu::-webkit-scrollbar{ width:10px; background-color: #f5f5d5; }
header>.sub-wdMnu::-webkit-scrollbar-thumb{ background-color: #AD0200; }
header>.sub-wdMnu::-webkit-scrollbar-track{ background-color: #838b8b; }

header>.sub-wdMnu>.container{
    position: absolute;
    /* top:135px; left:65px; */
    height:90%;
    min-height: 600px;
}

header>.sub-wdMnu>.container>ol{
    margin: 135px 0 0 65px;
    min-height:500px;
}
header>.sub-wdMnu>.container>ol>li{
    margin-bottom: 30px;
}
header>.sub-wdMnu>.container>ol>li>a{
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: #fff; font-size: 25px;
}

header>.sub-wdMnu>.container>ol>li>a:before{
    position: absolute;
    bottom: 0; left:0;
    width:0; content: '';
    transition:all 0.5s ease;
    border: 1.5px solid #fff;
    opacity:0;
}
header>.sub-wdMnu>.container>ol>li>a.on:before{ width:100%; opacity:1; }
header>.sub-wdMnu>.container>ol>li>a:hover:before{ width:100%; opacity:1; }

header>.sub-wdMnu>.container>.fb_mnu{
    position: absolute;
    bottom:70px;
    width:30px;
    margin: 30px 0 0 65px;
    text-indent: -9999px;
    background-image: url(../images/fb_logo.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

header>.sub-wdMnu>.container>.fb_mnu:before{
    position: absolute;
    top:50%; left:50%;
    width:30px; height:30px;
    margin-top: -15px; margin-left: -15px;
    border-radius:5px; transition:all 0.2s ease-in-out;
    transform: scale(0); opacity:0; content:'';
    z-index:-1;
}

header>.sub-wdMnu>.container>.fb_mnu:hover:before{
    width:30px; height:30px;
    background-color: #1e6fb4;
    transform:scale(1);
    opacity:1;
}

header>.sub-wdMnu>.container>.fb_mnu>a{ display: block; height:30px; }

header>.sub-wdMnu>.container>p{
    position: absolute;
    bottom:40px;
    margin: 0 0 0 65px;
    color:#fff;
    font-size: 12px;
    white-space: nowrap;
}

header>.sub-wdMnu>.exit{
    background: none;
    border:none;
    outline:none;
    
    position: absolute;
    top:25px; right:50px;
    width:25px; height:25px;
    text-indent: -9999px;
    background-image: url(../images/subMnu_exit.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
}

#about{
    position: relative;
    width:100%; height:450px;
    min-width:800px;
    transition:all 0.5s;
}
#about>.container{
    display: flex; position: absolute;
    top:50px; left:50%;
    justify-content: space-between;
    width:1100px; height:375px;
    margin-left: -550px;
}
#about>.container>.sentence{
    display: inline-block;
    width:45%; height:100%;
}

#about>.container>.sentence>h2{ font-weight: 500; font-size: 20px; }
#about>.container>.sentence>p{ margin-top: 40px ; font-size: 14px; }
#about>.container>.photo{ width:45%; height:100%; padding-right: 30px; text-align: right; }
#about>.container>.photo>img{ width: 350px; height: 280px; }
#about>.container>.auto-slides{
    overflow:hidden; position: absolute;
    bottom:0px; left:50%;
    width:1100px; height:45px;
    min-width:800px; margin-left: -550px;
}
#about>.container>.auto-slides>ul{
    position: absolute;
    top:0; left:-220px;
    width:1540px; height:45px;
}
#about>.container>.auto-slides>ul>li{
    float:left;
    width: 220px; height:45px;
    text-indent: -9999px;
}

#about>.container>.auto-slides>ul>li.banner1>a{background-image: url(../images/slides/01_koreacenter.jpg);}
#about>.container>.auto-slides>ul>li.banner2>a{background-image: url(../images/slides/02_makeshop.jpg);}
#about>.container>.auto-slides>ul>li.banner3>a{background-image: url(../images/slides/03_enuri.jpg);}
#about>.container>.auto-slides>ul>li.banner4>a{background-image: url(../images/slides/04_malltail.jpg);}
#about>.container>.auto-slides>ul>li.banner5>a{background-image: url(../images/slides/05_caravantail.jpg);}
#about>.container>.auto-slides>ul>li.banner6>a{background-image: url(../images/slides/06_okvit.jpg);}
#about>.container>.auto-slides>ul>li.banner7>a{background-image: url(../images/slides/07_sweettracker.jpg);}

#about>.container>.auto-slides>ul>li>a{
    display: block;
    height:31px; line-height: 31px;
    text-align: center;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#service{
    position: relative;
    width:100%; height:1000px;
    min-width:800px;
    background-color: #f6f7f9;
    user-select:none /* 드래그 비활성화 */ 
}
#service>.top{
    width:100%; height:100px;
    padding:100px 0px 100px 0px ;
}
#service>.top>p{
    position: absolute;
    top:100px; left :50%;
    width:1100px;
    margin-left: -550px;
    font-size: 22px; text-align: right;
}
#service>.bottom{
    position: relative;
    width:100%; height:500px;
}
#service>.bottom>.container{
    position: absolute;
    top:50%; left:50%;
    width:1100px;
    margin-top: -250px;
    margin-left: -550px;
    text-align: center;
}
#service>.bottom>.container>.leftSent{
    display: inline-block;
    position: relative;
    top:-131px;
    text-align: right;
    line-height: 1.7;
    cursor:pointer;
}
#service>.bottom>.container>.leftSent>h3{ font-size: 20px; line-height: 1.4; }
#service>.bottom>.container>.leftSent>h3>span{ font-size: 25px; }
#service>.bottom>.container>.leftSent:hover>h3>span{ color: #00aaad; }
#service>.bottom>.container>.leftSent>p{ font-size: 14px; }
#service>.bottom>.container>.leftSent>p:nth-child(2){ margin: 30px 0 30px 0;}
#service>.bottom>.container>.leftSent>p:nth-child(3){ margin-bottom: 30px; }

#service>.bottom>.container>.leftSent>button{
    background: none;
    border:none;
    outline:none;

    width:130px;
    padding:10px;
    color: #fff; font-size: 13px;
    background-image: linear-gradient(to right, #00aaad 0%, #14d7da 49%, #00aaad 100%);
    background-size:200% auto;
    border-radius:25px;
    transition:all 0.5s;
    cursor:pointer;
}
#service>.bottom>.container>.leftSent>button:hover{ background-position: 100% 50%; }
#service>.bottom>.container>.smartPhone{
    display: inline-block; position: relative;
    width:261px; height:531px;
    margin: 0px 60px;
}
#service>.bottom>.container>.smartPhone>p{
    position: absolute;
    top:0; left:50%;
    width:100%; height:100%;
    margin-left: -130.5px;
}
#service>.bottom>.container>.smartPhone>p:nth-child(1){ z-index:3; }
#service>.bottom>.container>.smartPhone>p:nth-child(2){ width:230px; margin-left: -115px; z-index:2; }
#service>.bottom>.container>.smartPhone>p:nth-child(3){ width:230px; margin-left: -115px; z-index:1; }
#service>.bottom>.container>.smartPhone>p:nth-child(4){
    position: absolute;
    top:92%; left:50%;
    width:35px; height:35px;
    margin-left: -17.5px; text-indent: -9999px;
    border:3px solid #fff;
    border-radius:35px;
    transition:all 0.3s;
    opacity:0; cursor:pointer;
    z-index:4;
}
#service>.bottom>.container>.smartPhone:hover>p:nth-child(4){ top:87.5%; opacity:1; }
#service>.bottom>.container>.smartPhone>p>img{
    width:100%; height:100%;
    border-radius:30px;
}
#service>.bottom>.container>.rightSent{
    display: inline-block;
    position: relative;
    top:-131px;
    text-align: left;
    line-height: 1.7;
    cursor:pointer;
}
#service>.bottom>.container>.rightSent>h3{ font-size: 20px; line-height: 1.4; }
#service>.bottom>.container>.rightSent>h3>span{ font-size: 25px; }
#service>.bottom>.container>.rightSent:hover>h3>span{ color: #00aaad; }
#service>.bottom>.container>.rightSent>p{ font-size: 14px; }
#service>.bottom>.container>.rightSent>p:nth-child(2){ margin: 30px 0;}
#service>.bottom>.container>.rightSent>p:nth-child(3){ margin-bottom: 30px; }
#service>.bottom>.container>.rightSent>button{
    background: none;
    border:none;
    outline:none;

    width:130px;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    background-image: linear-gradient(to right, #00aaad 0%, #14d7da 49%, #00aaad 100%);
    background-size:200% auto;
    border-radius:25px;
    transition:all 0.5s;
    cursor:pointer;
}
#service>.bottom>.container>.rightSent>button:hover{ background-position: 100% 50%; }

#number{
    position: relative;
    width:100%; height:320px;
    background-image: url(../images/counter-bg.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    user-select:none; /* 드래그 비활성화 */
}
#number>.container{
    position: absolute;
    top:50%; left:50%;
    width:1100px; height:220px;
    margin-top: -110px; margin-left: -550px;
    text-align: center;
}
#number>.container>.block{
    float:left;
    width:180px;
    text-align: center;
    padding: 15px 40px;
}
#number>.container>.block>p{ color: #fff; font-size: 22px; }
#number>.container>.block>p>span,strong{
    display: block;
    padding-top: 20px;
    font-weight: 700; font-size: 65px;
}

#number>.container>.block1{}
#number>.container>.block2{}
#number>.container>.block3{}
#number>.container>.block4>p>span:after{ content:'M+'; }

/* 원사이트에서 수정됨 */
/* #team{} */

#news{
    position: relative;
    width:100%; height:750px;
    min-width:800px;
    background-color: #f6f7f9;
}

#news>.container{
    position: absolute;
    top:50%; left:50%;
    width:1100px; height:500px;
    margin-top: -250px;
    margin-left: -550px;
}

#news>.container>h5{
    width:100%;
    margin-bottom: 30px;
    font-weight: 500; font-size: 23px;
    line-height: 1.3; text-align: center;
}

#news>.container>.cont-board{
    display: flex;
    justify-content: space-between;
    width:100%; height:400px;
}

#news>.container>.cont-board>.cont{float:left;  width:350px; }
#news>.container>.cont-board>.cont:hover{cursor:pointer}
#news>.container>.cont-board>.cont:hover>.pic>img{ transform:scale(1.05); }
#news>.container>.cont-board>.cont:hover>.info>h5{ color: #00aaad; }
#news>.container>.cont-board>.cont>.pic{
    overflow:hidden;
    width:350px; height:220px;
}
#news>.container>.cont-board>.cont>.pic>img{
    display: block;
    width:100%; height:100%;
    transition:all 0.5s;
}
#news>.container>.cont-board>.cont>.info{
    width:290px; height:120px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 1px #dfdfdf;
}
#news>.container>.cont-board>.cont>.info>h5{
    font-weight: 500; font-size: 24px;
    transition:all 0.2s;
}
#news>.container>.cont-board>.cont>.info>p{
    margin-top: 10px;
    font-size: 13.5px;
    line-height: 1.8;
}
#news>.container>.cont-board>.cont1{}
#news>.container>.cont-board>.cont2{}
#news>.container>.cont-board>.cont3{}


#contact{
    position: relative;
    width:100%; height:600px;
    min-width:800px;
    background-color: #27313b;
}
#contact>.container{
    display: flex; position: absolute;
    top:50%; left:50%;
    width:1100px; height:500px;
    margin-top: -280px; margin-left: -550px;
    padding-top: 30px;
    color: #fff;
    justify-content: space-between;
}
#contact>.container>.info{
    display: inline-block;
    position: relative;
    width :350px;
    font-size: 14px;
    line-height: 1.6;
}
#contact>.container>.info>h6{
    width:80px; height:40px;
    text-indent: -9999px;
    background-image: url(../images/logo_white_retina.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#contact>.container>.info>h6>a{ display: block; height:40px; line-height: 40px;}
#contact>.container>.info>address{margin:30px 0;}
#contact>.container>.info>p{text-decoration: line-through;}
#contact>.container>.info>.st1{}
#contact>.container>.info>.st2{ margin:30px 0; }

#contact>.container>.info>.fb_mnu{
    position: relative;
    width:30px;
    height:30px;
    text-indent: -9999px;
    border: 1px solid #777;
    box-sizing:border-box;
    border-radius:6px;
    /* z-index:100; */
}
#contact>.container>.info>.fb_mnu:before{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    width:30px;
    height:30px;
    margin-top: -15px;
    margin-left: -15px;
    background-color: #1e6fb4;
    border-radius:5.5px;
    transform:scale(0.5);
    opacity:0;
    transition:all 0.4s;
    content:'';
}
#contact>.container>.info>.fb_mnu:hover:before{
    transform:scale(1);
    opacity:1;
}
#contact>.container>.info>.fb_mnu:after{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    width:30px;
    height:30px;
    margin-top: -15px;
    margin-left: -15px;
    background-image: url(../images/fb_logo.png);
    background-position: 50% 50%;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    /* background-color: red; */
    border-radius:5px;
    content:'';
}

#contact>.container>.info>.fb_mnu>a{
    display: block;
    position: absolute;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    z-index:1;
}

#contact>.container>.info>.lnk{
    display: inline-block;
    margin-top: 70px;
    text-decoration: none;
}
#contact>.container>.info>.lnk>a{
    color: #fff;
    margin-right: 20px;
    transition:all 0.3s;
}
#contact>.container>.info>.lnk>a:hover{ color: #00aaad; }
#contact>.container>.info>.lnk1{}
#contact>.container>.info>.lnk2{}

#contact>.container>.tel{
    display: inline-block;
    width:360px;
}
#contact>.container>.tel>p{
    font-size: 25px;
    padding-bottom: 45px;
}

#contact>.container>.tel>form{
    display: block;
    padding-left: 10px;
    width:100%;
}

#contact>.container>.tel>form>input{
    border: none;
    outline: none;
    background: none;

    overflow:hidden;
    width:325px;
    height:40px;
    text-indent:10px;
    margin-bottom: 20px;
    font-size: 13px;
    background-color: #fff;
    border-radius:3px;
}

#contact>.container>.tel>form>input:focus{
    width:321px;
    height:36px;
    text-indent: 8px;
    border:2px solid #00aaad;
}

#contact>.container>.tel>form>select{
    border:none;
    outline:none;
    background:none;
    
    width:325px;
    height:40px;
    margin-bottom:20px;
    padding-left:10px;
    background-color:#fff;
    border-radius:3px;
    /* 우측 삼각형 없애기 */
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

#contact>.container>.tel>form>select>option{ border-radius:0; }
#contact>.container>.tel>form>select::-ms-expend{ display: none; }
#contact>.container>.tel>form>textarea{
    border:none;
    outline:none;
    background: none;

    width:315px;
    height:80px;
    color:#333;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius:3px;
}
#contact>.container>.tel>form>textarea:focus{
    width:313px; height: 78px;
    padding-top: 8px; padding-left: 8px;
    border:2px solid #00aaad;
}
#contact>.container>.tel>form>button{
    border:none;
    outline:none;
    background: none;

    width:325px; height:40px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background-image: linear-gradient(to right, #00aaad 0%, #14d7da 49%, #00aaad 100%);
    background-size:200% auto;
    border-radius:25px;
    transition:all 0.5s;
    cursor:pointer;
}

#contact>.container>.tel>form>button:hover{ background-position: 100% 50%; }

footer{
    position: relative;
    width:100%;
    min-width:800px;
}
footer>.container{
    position: absolute;
    top:0; left:50%;
    width:1100px;
    margin-left: -550px;
}
footer>.container>p{
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}
aside{
    position: fixed;
    right:30px; bottom:80px;
    width:40px;  height:40px;
    cursor:pointer;
}
aside>p{
    position: relative;
    width:40px; height:40px;
    text-indent: -9999px;
    background-color: #00aaad;
    border-radius:20px;
    transform:scale(0);
    transition:all 0.5s;
    opacity:0;
}
aside>p.on{
    text-align: center;
    transition:scale(1);
    opacity:1;
}
aside>p:after{
    position: absolute;
    top:50%; left:50%;
    margin-top: -6.5px;
    margin-left: -8.5px;
    width:17px; height:13px;
    background-image: url(../images/asideTop.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform:scale(0);
}
aside>p.on:after{ transform:scale(1); content:''; }

section{display: none;}
#about{display: block;}
footer{display:none;}


/* ========반응형 설정======== */

/* 세로 창크기에 따른 값 조정 */
@media screen and (max-height:440px){
    header>.container>.stcBox{
        position: relative;
        top:0;
        margin-top: 0;
        height:100%;
    }
}
/* 가로 창크기에 따른 값 조정 */

/* 1200 */
@media screen and (max-width:1200px){
    header{min-width:100%;}
    header>.container{}
    header>.container>.mnuWrap{ 
        left:0;
        margin-left: 0;
        width:100%;
        padding-right: 0; padding-left:0;
    }
    header>.container>.mnuWrap>h1{ margin-right: 22.5px; }
    header>.container>.mnuWrap>.navMnu{ right: 90px; }

    #about{
        min-width:100%;
    }
    #about>.container{
        width: 880px;
        margin-left: -440px;
    }
    #about>.container>.sentence{

    }
    #about>.container>.auto-slides{
        width:880px;
        margin-left: -440px;
    }
}

/* 990 */
@media screen and (max-width:990px){

    #about>.container{
        width: 660px;
        margin-left: -330px;
    }

    #about>.container>.auto-slides{
        width:660px;
        min-width:100%;
        margin-left: -330px;
    }
    #about>.container>.sentence>p{ width:100%; }
    #about>.container>.sentence>h2{ font-size: 18px; }
    #about>.container>.photo>img{ width: 100%; height: 230px;  }

}
@media screen and (max-width:768px){
    
}


/* 760 */
@media screen and (max-width:760px){
    header>.container>.mnuWrap>h1{ margin-left: 25px; }
    header>.container>.mnuWrap>.navMnu{ display: none; }
    header>.container>.stcBox{
        width:300px;
        margin-left: -150px;
    }

    header>.container>.stcBox>.title{
        font-size: 35px;
        margin-left: -150px;
    }

    header>.container>.stcBox>.sentence{
        font-size: 15px;
        margin-left: -150px;
    }
    header>.container>.stcBox>.link{
        margin-left: -150px;
    }
}

/* ========반응형 설정======== */